<form [formGroup]="loginForm">
    <div fxLayout="column" fxLayoutAlign="center center" class="lgn-form-con">
        <div fxFlex="100%" class="inpt">
            <mat-form-field appearance="outline" class="form-field inpt-field">
                <mat-label>User Name</mat-label>
                <input matInput formControlName="username" name="username" required minlength="10">
                <mat-error *ngIf="loginForm.value.username">Username is must be needed</mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="100%" class="inpt">
            <mat-form-field appearance="outline" class="form-field inpt-field">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" name="password" [type]="showPassword ? 'text' : 'password'"
                    required pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z]).{6,}$">
                <mat-icon matSuffix  style="display: flex;" (click)="togglePasswordVisibility()">
                    <img *ngIf="!showPassword" style="max-width: 25px;" src="/assets/Icons/unshow.png" />
                    <img *ngIf="showPassword" style="max-width: 25px;" src="/assets/Icons/show.png" />
                </mat-icon>
                <mat-error *ngIf="loginForm.value.password">Password must be a valid pattern</mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="100%" class="inpt">
            <button mat-stroked-button color="primary" type="submit" (click)="submit()"
                [disabled]="!loginForm.valid">Login<mat-icon>chevron_right</mat-icon></button>
        </div>
    </div>
</form>