<div class="main">
    <div class="sub-main">
        <div class="box-lay">
            <!-- <div class="title">
                <img class="logo"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReZPCdszo1EtUvfm6VWcuRSdgFo_cnN8inXg&usqp=CAU" />
                <p> My SHOP</p>
            </div> -->
            <div class="container">
                <div class="sub-container1">
                    <!-- <img class="images"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReZPCdszo1EtUvfm6VWcuRSdgFo_cnN8inXg&usqp=CAU" /> -->
                </div>
                <div class="sub-container2">
                    <!-- <p>My Shop Management</p> -->
                    <mat-tab-group (selectedTabChange)="tabClick($event)">
                        <mat-tab label="Login"> <app-login-form #loginFormCmpnt
                                (onSubmit)="onSubmitLoginForm($event)"></app-login-form></mat-tab>
                        <mat-tab label="Register"> <app-registeration-form #registrationFormCmpnt
                                (onSubmit)="onSubmitRegisterForm($event)"></app-registeration-form></mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
        <div class="footer">
            <p> Copyright ©2023 Shop Private Limited. All rights reserved.</p>
            <ul class="social-media">
                <img src="/assets/Icons/google.png" />
                <img src="/assets/Icons/facebook.png" />
                <img src="/assets/Icons/twitter.png" />
                <img src="/assets/Icons/linkdin.png" />
            </ul>
        </div>
    </div>
</div>