.toolbar-filler {
    flex: 1 1 auto
}

.header-con{
  .app-sidenav{
    width: 18%;
    .menu-list{
        .title{
            margin-left: 10px;
        }
    }
  }
  .app-toolbar{
    ::ng-deep.component-title{
        margin: 0 !important;
        .title-link{
            margin: 0;
            font-size: 22px;
        }
    }
    .lgt-btn{
        background: azure;
        color: #707070;
    }
  }
}

.userDetails{
  max-width: 20px;
  background: azure;
  color: #707070;
}

.active{
  span{
    color : #82AAE3 !important;
  }
  mat-icon {
    color : #82AAE3 !important;
  }
}

.profile-title{
  margin: 0px 15px 0px 0px;
  .title-link{
    margin: 0;
   }
}