



<div class="delete-container">
    <div class="dialog-header">
        <h2>{{data.content}}</h2>
        <button mat-icon-button class="close-button" (click)="cancel()">
            <img style="max-width: 40px;    background-color: #82aae3;
            max-height: 40px;" src="/assets/Icons/close.png" />
        </button>
    </div>
 <div class="action">
    <button mat-stroked-button class="cancel-btn" (click)="cancel()">No</button>
    <button *ngIf="data.btnValue != 'Yes Approve'" mat-stroked-button color="warn" (click)="delete()"
    class="danger-btn">{{data.btnValue}}</button>
    <button *ngIf="data.btnValue == 'Yes Approve'" mat-stroked-button (click)="approve()"
    class="appr-btn">{{data.btnValue}}</button>
 </div>
</div>
