



<div class="delete-container">
    <div class="dialog-header">
        <h2>{{data.content}}</h2>
        <button mat-icon-button class="close-button" (click)="cancel()">
            <mat-icon class="close-icon" color="warn">close</mat-icon>
        </button>
    </div>
 <div class="action">
    <button mat-stroked-button class="cancel-btn" (click)="cancel()">No</button>
    <button *ngIf="data.btnValue != 'Yes Approve'" mat-stroked-button color="warn" (click)="delete()"
    class="danger-btn">{{data.btnValue}}</button>
    <button *ngIf="data.btnValue == 'Yes Approve'" mat-stroked-button (click)="approve()"
    class="appr-btn">{{data.btnValue}}</button>
 </div>
</div>
