<div class="addProduct-container">
    <div class="dialog-header">
        <h2>{{this.data.content}}</h2>
        <button mat-icon-button class="close-button" (click)="cancel()">
            <img style="max-width: 40px;    background-color: #82aae3;
            max-height: 40px;" src="/assets/Icons/close.png" />
        </button>
    </div>
    <div class="action">
        <div class="addproductForm">
            <form [formGroup]="productForm">
                <div class="image-field">
                    <label class="image-upload-container btn btn-bwm">
                        <div>
                            <img class="images" [src]="url" *ngIf="url">
                            <input class="imgSelect" #imageInput required type="file" title="" (change)="selectImage($event)" accept="image/*">
                        </div>
                        <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                    </label>
                </div>

                <div class="addinpt-field">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Product Name</mat-label>
                        <input matInput formControlName="productName" name="productName" required
                            placeholder="Product Name">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Description</mat-label>
                        <input matInput formControlName="description" name="description" placeholder="Description">
                    </mat-form-field>
                </div>
                <div class="addinpt-field">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Brand</mat-label>
                        <input matInput formControlName="brand" name="brand" placeholder="Brand">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>BarcodeId</mat-label>
                        <input matInput formControlName="barcodeId" minlength="12" maxlength="12" (keypress)="numberOnly($event)" name="barcodeId" placeholder="BarcodeId">
                    </mat-form-field>
                </div>
                <div class="addinpt-field">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>MRP</mat-label>
                        <input matInput formControlName="mrp" minlength="1" (keypress)="numberOnly($event)" name="mrp" required
                            placeholder="MRP">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Price</mat-label>
                        <input matInput formControlName="price" minlength="1" (keypress)="numberOnly($event)" name="price" required
                            placeholder="Price">
                    </mat-form-field>
                </div>
                <div class="addinpt-field">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Tax</mat-label>
                        <input matInput formControlName="taxPercent" minlength="0" (keypress)="numberOnly($event)" name="taxPercent"
                            placeholder="Tax">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Quantity</mat-label>
                        <input matInput formControlName="quantity" minlength="1" name="quantity" required placeholder="Quantity">
                    </mat-form-field>
                </div>
                
            </form>
        </div>
        <div class="btn-field">
            <button mat-stroked-button class="cancel-btn" (click)="cancel()">No</button>
            <button mat-stroked-button (click)="addProduct()" [disabled]="!productForm.valid"
                class="addProduct-btn">{{this.data.btnValue}}</button>
        </div>
    </div>
</div>