<div class="addToCart-container">
    <div class="dialog-header">
        <h2>{{this.data.content}}</h2>
        <button mat-icon-button class="close-button" (click)="cancel()">
            <img style="max-width: 40px;    background-color: #82aae3;
            max-height: 40px;" src="/assets/Icons/close.png" />
        </button>
    </div>
    <div class="action">
        <div class="addToCartForm">
            <form [formGroup]="addToCartForm">
                <div class="addinpt-field">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>{{data.btnName}}</mat-label>
                        <input matInput formControlName="barcodeId" minlength="12" maxlength="12" (keypress)="numberOnly($event)" name="{{data.btnName}}" required
                            placeholder="{{data.btnName}}">
                    </mat-form-field>                  
                </div>
            </form>
        </div>
        <div class="btn-field">
            <button mat-stroked-button class="cancel-btn" (click)="cancel()">No</button>
            <button mat-stroked-button (click)="addToCart()" [disabled]="!addToCartForm.valid"
                class="addToCart-btn">{{this.data.btnValue}}</button>
        </div>
    </div>
</div>