<form [formGroup]="registerForm">
  <div fxLayout="column" fxLayoutAlign="center center" class="reg-lay-con">
    <div fxFlex="100%" class="inpt">
      <mat-form-field appearance="outline" class="form-field inpt-field">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="name" name="name" required>
      </mat-form-field>
    </div>
    <div fxFlex="100%" class="inpt">
      <mat-form-field appearance="outline" class="form-field inpt-field">
        <mat-label>Mobile</mat-label>
        <input matInput formControlName="mobile" name="mobile" minlength="10" maxlength="10"
          (keypress)="numberOnly($event)" required type="mobile">
      </mat-form-field>
    </div>
    <div fxFlex="100%" class="inpt">
      <mat-form-field appearance="outline" class="form-field inpt-field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" name="email" required type="email">
      </mat-form-field>
    </div>
    <div fxFlex="100%" class="inpt">
      <mat-form-field appearance="outline" class="form-field inpt-field ">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" name="password" [type]="showPassword ? 'text' : 'password'" required
          pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z]).{6,}$">
        <mat-icon matSuffix style="display: flex;" (click)="togglePasswordVisibility()">
          <img *ngIf="!showPassword" style="max-width: 25px;" src="/assets/Icons/unshow.png" />
          <img *ngIf="showPassword" style="max-width: 25px;" src="/assets/Icons/show.png" />
        </mat-icon>
        <mat-error *ngIf="registerForm.value.password">Password must be a valid pattern</mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="100%" class="inpt">
      <button mat-stroked-button color="primary" type="submit" (click)="submit()"
        [disabled]="!registerForm.valid">Register<mat-icon>chevron_right</mat-icon></button>
    </div>
  </div>
</form>