<div class="payment-cart">
    <div class="cart-container">
        <div class="cart-items">
            <div *ngFor="let cart of cartList; index as i">
                <div class="card">
                    <div class="img">
                        <img src="{{cart.productDetails.productImage}}" alt="">
                    </div>
                    <div class="item-details">
                        <h2>{{cart?.productDetails.productName}}</h2>
                        <p class="brand" *ngIf="cart.productDetails.brandName">{{cart.brandName}}</p>
                        <p class="price">${{cart.productDetails.price}} <span
                                *ngIf="(cart.productDetails.price)<(cart.productDetails.mrp)">${{cart.productDetails.mrp}}</span>
                        </p>
                    </div>
                    <div class="quantity-con">
                        <div class="quantity">
                            <button class="sub" (click)="quantityChanges('DECREASE', cart.productDetails.barcodeId)"
                                [disabled]="cart.quantity==1">-</button>
                            <p>{{cart.quantity}}</p>
                            <button class="add"
                                (click)="quantityChanges('INCREASE', cart.productDetails.barcodeId)">+</button>
                        </div>
                        <button class="remove" (click)="deleteSingleCart(cart._id)">remove</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-entry-payment">
            <div class="manual-entry">
                <div class="input-wrap">
                    <input type="text" [value]="barcodeId" (keyup)="onKey($event)" placeholder="BarCode Number">
                    <!-- <button class="verify">Verify</button> -->
                </div>
                <button class="submit" [disabled]="barcodeId.length<10" (click)="addtoCart()">Add to cart</button>
            </div>
            <div class="payment-card">
                <div class="item">
                    <span>Sub-Total</span>
                    <h6>${{subTotal}}</h6>
                </div>
                <div class="item">
                    <span>Grand-Total</span>
                    <h6>${{totalAmount}}</h6>
                </div>
                <div class="sub-btn">
                    <button class="submit-btn" [disabled]="cartCount==0" (click)="orderPlace()">Pay</button>
                </div>
            </div>
        </div>
    </div>
</div>