<div class="payment-cart">
    <div class="cart-container">
        <div class="cart-items">
            <div *ngFor="let cart of cartList; index as i">
                <div class="card">
                    <div class="img">
                        <img src="{{cart.productDetails.productImage}}" alt="">
                    </div>
                    <div class="item-details">
                        <h2>{{cart?.productDetails.productName}}</h2>
                        <p class="brand" *ngIf="cart.productDetails.brandName">{{cart.brandName}}</p>
                        <p class="price">${{cart.productDetails.price |number:'.2'}} <span
                                *ngIf="(cart.productDetails.price)<(cart.productDetails.mrp)">${{cart.productDetails.mrp
                                |number:'.2'}}</span>
                        </p>
                    </div>
                    <div class="quantity-con">
                        <div class="total-price">
                            <p>${{cart.productDetails.price *cart.quantity |number:'.2'}}</p>
                        </div>
                        <div class="quantity">
                            <button class="sub" (click)="quantityChanges('DECREASE', cart.productDetails.barcodeId)"
                                [disabled]="cart.quantity==1">-</button>
                            <p>{{cart.quantity}}</p>
                            <button class="add"
                                (click)="quantityChanges('INCREASE', cart.productDetails.barcodeId)">+</button>
                        </div>
                        <button class="remove" (click)="deleteSingleCart(cart._id)">remove</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-entry-payment">
            <div class="add-cart">
                <button mat-raised-button (click)="addtoCart()" class="add-cart-btn">Manual Entry to Cart</button>
            </div>
            <div class="payment-card">
                <div class="main-cart">
                    <div class="add-cart">
                        <button mat-raised-button [disabled]="cartCount===0" (click)="addtoBuyer()"
                            class="add-cart-btn">Buyer Details</button>
                    </div>
                    <div class="add-cart">
                        <button [disabled]="cartCount===0 || creditApply" mat-raised-button
                            (click)="discountAmount==0? applyDiscount():removeDiscount()"
                            class="add-cart-btn">{{discountAmount==0? 'Discount Apply': 'Remove Discount'}}</button>
                    </div>
                </div>
                <div class="item" *ngIf="buyerMobile!=''">
                    <span>Buyer Name</span>
                    <h6>{{buyerDetails?.name}}</h6>
                </div>
                <div class="item" *ngIf="buyerMobile!=''">
                    <span>Buyer Mobile </span>
                    <h6>+91-{{buyerDetails?.mobile}}</h6>
                </div>
                <div class="item" *ngIf="discountAmount">
                    <span>Discount Amount</span>
                    <h6>$ {{discountAmount |number:'.2'}}</h6>
                </div>
                <div class="item">
                    <span>Sub-Total</span>
                    <h6>$ {{ subTotal |number:'.2'}} <span class="discount" *ngIf="discountAmount">${{(subTotal
                            +discountAmount).toFixed(2)}}</span>
                        <span class="discount" *ngIf="creditApply">$ {{(subTotal +creditAmount).toFixed(2)}}</span>
                    </h6>
                </div>
                <div class="item">
                    <span>Grand-Total</span>
                    <h6>$ {{totalAmount |number:'.2'}} <span class="discount" *ngIf="discountAmount">${{(totalAmount+
                            discountAmount).toFixed(2)}}</span>
                        <span class="discount" *ngIf="creditApply">$ {{(totalAmount+creditAmount).toFixed(2)}}</span>
                    </h6>
                </div>
                <mat-radio-group class="item" [(ngModel)]="paymentType">
                    <mat-radio-button value="ONLINEPAYMENT">Online Payment</mat-radio-button>
                    <mat-radio-button value="COD">Cash on Delivery</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="buyerMobile!='' && buyerDetails.creditPoints>200 && discountAmount==0">
                    <mat-checkbox [(ngModel)]="creditApply" (click)="creditPointApply()" class="example-margin">Apply
                        credit point : $
                        {{creditAmount |number:'.2'}}</mat-checkbox>
                </div>
                <div class="sub-btn">
                    <button class="submit-btn" [disabled]="cartCount===0 || buyerMobile==''"
                        (click)="orderPlace()">Pay</button>
                </div>
            </div>
        </div>
    </div>
</div>